<!DOCTYPE html>
<html data-ng-app="app" lang="en">
    <head>
        <base href="/">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8 ">
        <title>Dimitrios Kanellopoulos</title>

        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.js"></script>
    </head>
    <body>
        <!-- @todo This should become the mainApp module -->
        <h1>Currently work is in progress</h1>
        <div>
            <p>This website is open source (kinda) and available on <a href="https://github.com/jimmykane/dimitrioskanellopoulos.com" target="_blank">GitHub</a></p>
            <p>-= Contact - Social Networks =-</p>
            <ul>
                <li><a href="plus.google.com/+DimitriosKanellopoulos/about" target="_blank">Google+</a></li>
                <li><a href="nl.linkedin.com/in/dimitrioskanellopoulos" target="_blank">Linkedin</a></li>
            </ul>
        </div>

        <!-- Scripts -->
        <script src="/assets/app/app.js"></script>

    </body>
</html>