<!DOCTYPE html>
<html data-ng-app="app" lang="en">
    <head>
        <base href="/">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8 ">
        <title>Dimitrios Kanellopoulos</title>

        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-resource.js"></script>
    </head>
    <body>

        <div data-ng-view>

        </div>


        <!-- Scripts -->

        <!-- App -->
        <script src="/assets/app/app.js"></script>

        <!-- App services -->
        <script src="/assets/app/services/json.js"></script>

        <!-- Main module -->
        <script src="/assets/app/modules/main/main.js"></script>
        <script src="/assets/app/modules/main/controllers/main.js"></script>
        <script src="/assets/app/modules/main/controllers/info.js"></script>
        <script src="/assets/app/modules/main/controllers/experiments.js"></script>

    </body>
</html>