<!DOCTYPE html>
<html data-ng-app="app" lang="en">
    <head>
        <base href="/">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8 ">
        <title>Dimitrios Kanellopoulos</title>

        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.js"></script>
    </head>
    <body>

        <div class="app" data-ng-controller="appController" >
            <div data-ng-view>

            </div>
            <div>
                {{ greeting }}
            </div>
        </div>


        <!-- Scripts -->
        <script src="/assets/app/app.js"></script>
        <script src="/assets/app/modules/main/main.js"></script>

    </body>
</html>