<p>
    <b>Brain data</b>
    <span style="font-size: 0.7em;">
        via <a href="{{ profile.url }}" target="_blank">Google+</a>
    </span>
</p>
<div class="border--bottom">
    <p>My skills</p>
    <p style="font-size: 0.8em;">
        <span>{{ profile.skills }}</span>
    </p>
</div>
<div>
    <p>My education</p>
    <ul class="columns__1">
        <li data-ng-repeat="organization in profile.organizations | filter:{ type: 'school' }" style="font-size: 0.8em;">
            {{ organization.title }} at {{ organization.name }}
            <span style="font-size: 0.7em;" data-ng-if="organization.startDate">from {{ organization.startDate }}</span>
            <span style="font-size: 0.7em;" data-ng-if="organization.endDate">until {{ organization.endDate }}</span>
            <span style="font-size: 0.6em;" data-ng-if="organization.primary">(currently working)</span>
        </li>
    </ul>
</div>