<div>
    <h1>Currently work is in progress</h1>

    <div>
        <p>This website is open source (kinda) and available on <a
                href="//github.com/jimmykane/dimitrioskanellopoulos.com" target="_blank">GitHub</a></p>

        <div data-ng-controller="infoController">
            <h2>-= Contact - Social Networks =-</h2>
            <ul>
                <li data-ng-repeat="link in links"><a href="{{ link.url }}" target="_blank">{{ link.title }}</a></li>
            </ul>
        </div>

        <div data-ng-controller="experimentsController">
            <h2>-= Previous Work - Experiments =-</h2>
            <ul>
                <li data-ng-repeat="link in links"><a href="{{ link.url }}" target="_blank">{{ link.title }}</a></li>
            </ul>
        </div>

        <!-- @todo This should be moved to separate template -->
        <div data-ng-controller="fitnessController">
            <h2>-= Fitness Data (Via <a href="https://runkeeper.com" target="_blank">Runkeeper</a>) =-</h2>

            <div data-ng-if="weightMeasurements.weight">
                <h3>Weight Measurements</h3>
                <ul>
                    <li>
                        <b>Weight</b>: {{ weightMeasurements.weight }} kg
                    </li>
                    <li>
                        <b>Body Fat</b>: {{ weightMeasurements.fat_percent }} %
                    </li>
                </ul>
            </div>

            <div data-ng-if="latestActivity.type">
                <h3>Activity Feed</h3>

                <p><b>{{ latestActivity.type }}</b> {{ latestActivity.start_time }}</p>
                <ul>
                    <li>
                        <b>Distance</b>: {{ (latestActivity.total_distance/1000).toFixed(2) }} km
                    </li>
                    <li>
                        <b>Duration</b>: {{ latestActivity.duration/60 }} min
                    </li>
                    <li>
                        <b>Calories</b>: {{ latestActivity.total_calories }} kcal
                    </li>
                </ul>
            </div>

            <div data-ng-if="records[0]">
                <h3>Overall Records</h3>
                <ul>
                    <li data-ng-repeat="record in records"><b>{{ record.activity_type }}</b>: <span data-ng-repeat="stat in record.stats" data-ng-if="stat.stat_type === 'OVERALL'">{{ (stat.value/1000).toFixed(2) }} km</span></li>
                </ul>
            </div>
        </div>

    </div>
</div>