<!-- Module stylesheet -->
<link rel="stylesheet" href="/assets/app/modules/main/templates/styles.css">

<div class="flex-container bordered">
    <header class="header"><b>Dimitrios Kanellopoulos</b></header>
    <article class="main">
        <p><b>Welcome visitor</b>
            <img
            data-ng-src="{{ getProfileImageUrl() }}"
            style="float: left; margin-right: 10px;"
            data-ng-if="getProfileImageUrl()" />
        </p>
        <div class="aboutMe" data-ng-bind-html="getAboutMe()"></div>
        <p>
            {{ googlePlusProfile.braggingRights }}
        </p>
    </article>

    <aside class="aside aside-1" data-ng-controller="socialLinksController">
        <p><b>Contact - Social Networks</b></p>
        <ul class="columns__2">
            <li data-ng-repeat="link in links"><a href="{{ link.url }}" target="_blank">{{ link.title }}</a></li>
        </ul>
    </aside>

    <aside class="aside aside-2" data-ng-controller="fitnessController">
        <p><b>Fitness Data</b> <span style="font-size: 0.6em;">powered by <a href="http://developer.runkeeper.com/healthgraph/home" target="_blank">Health Graph</a></span></p>
        <div class="border--bottom" data-ng-if="weightMeasurements.weight">
            <p>Body Measurements</p>
            <ul class="columns__2">
                <li>
                    Weight: {{ weightMeasurements.weight }}kg
                </li>
                <li>
                    Body Fat: {{ weightMeasurements.fat_percent }}%
                </li>
            </ul>
        </div>

        <div data-ng-if="latestActivity.type">
            <p>Latest activity I did was {{ latestActivity.type }} at {{ latestActivity.start_time }}</p>

            <div class="border--bottom">
                <ul class="columns__3">
                    <li>
                        Distance: {{ (latestActivity.total_distance/1000).toFixed(2) }}km
                    </li>
                    <li>
                        Duration: {{ (latestActivity.duration/60).toFixed(2) }}min
                    </li>
                    <li>
                        Calories: {{ latestActivity.total_calories }}kcal
                    </li>
                </ul>
            </div>
        </div>

        <div data-ng-if="records[0]">
            <p>Records</p>
            <ul class="columns__2">
                <li data-ng-repeat="record in records" style="font-size: 0.8em;" data-ng-if="record.stats.length > 1">{{ record.activity_type }}: <span
                        data-ng-repeat="stat in record.stats" data-ng-if="stat.stat_type === 'OVERALL'">{{ (stat.value/1000).toFixed(2) }}km</span>
                </li>
            </ul>
        </div>
    </aside>

    <footer class="footer">
        <p><b>Project info</b></p>
        <p><a href="//github.com/jimmykane/dimitrioskanellopoulos.com" target="_blank">@GitHub</a></p>
        <p>
            <a href="http://angularjs.org/" target="_blank"><img width="50" src="/assets/img/angularjs_logo.png" title="Uses AngularJS"/></a>
            <a href="http://nl.wikipedia.org/wiki/HTML5" target="_blank"><img width="100" src="/assets/img/html_css3.png" title="Uses HTML5 & CSS3"/></a>
            <a href="http://www.python.org/" target="_blank"><img width="100" src="/assets/img/python.png" title="Uses Python"/></a>
            <a href="https://cloud.google.com/" target="_blank"><img width="150" src="/assets/img/google_cloud_platform.png" title="Uses Google Cloud Platform"/></a>
        </p>
    </footer>

</div>