<p>
    <b>Personal Data</b>
    <span style="font-size: 0.7em;">
        via <a href="{{ profile.url }}" target="_blank">Google+</a>
    </span>
</p>
<div class="border--bottom">
    <p>
        My main profession is in the field of {{ profile.occupation }}.<br/>
    </p>
    <ul class="columns__1">
        <li data-ng-repeat="organization in profile.organizations | filter:{ type: 'work' }" style="font-size: 0.8em;">
            {{ organization.title }} at {{ organization.name }}<br/>
            <span style="font-size: 0.7em;" data-ng-if="organization.startDate">from {{ organization.startDate }}</span>
            <span style="font-size: 0.7em;" data-ng-if="organization.endDate">until {{ organization.endDate }}</span>
            <span style="font-size: 0.6em;" data-ng-if="organization.primary">(currently working)</span>
        </li>
    </ul>
</div>
<div class="border--bottom">
    <p>Places I lived</p>
    <ul class="columns__3" style="font-size: 0.8em;">
        <li data-ng-repeat="placeLived in profile.placesLived" style="font-size: 0.9em;">
            {{ placeLived.value }} <span style="font-size: 0.7em;" data-ng-if="placeLived.primary">(currently living)</span>
        </li>
    </ul>
</div>
<div>
    <p>My web profiles</p>
    <ul class="columns__3" style="font-size: 0.8em;">
        <li data-ng-repeat="url in profile.urls"><a href="{{ url.value }}" target="_blank" style="font-size: 0.9em;">{{ url.label }}</a></li>
    </ul>
</div>