<p>
    <b>Project Data</b>
</p>
<div class="border--bottom">
    <p>Technologies/APIs</p>
    <p><span style="font-size: 0.7em;">The content of this website is generated dynamic :-p</span></p>
    <ul>
        <li><span style="font-size: 0.8em;">Google App Engine</span></li>
        <li><span style="font-size: 0.8em;">HTML5</span></li>
        <li><span style="font-size: 0.8em;">CSS3</span></li>
        <li><span style="font-size: 0.8em;">Google Plus</span></li>
        <li><span style="font-size: 0.8em;">Health Graph</span></li>
    </ul>
</div>
<div>
    <p>Languages/Frameworks</p>
    <ul>
        <li><span style="font-size: 0.8em;">Python</span></li>
        <li><span style="font-size: 0.8em;">Angular JS</span></li>
        <li><span style="font-size: 0.8em;">NDB</span></li>
        <li><span style="font-size: 0.8em;">WebAPP2</span></li>
        <li><span style="font-size: 0.8em;">OAuth2</span></li>
        <li><span style="font-size: 0.8em;">HTML5</span></li>
        <li><span style="font-size: 0.8em;">CSS3</span></li>
    </ul>
</div>