
.header {
    background: tomato;
}

.flex-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    font-weight: normal;
    text-align: center;
}

.flex-container > * {
    padding: 0.8em;
    flex: 1 100%;
}

.aside{

}

.footer {
    background: lightgreen;
}

.main {
    text-align: left;
    background: deepskyblue;
}

.aside-1 {
    text-align: left;
    background: gold;
}

.aside-2 {
    text-align: left;
    background: hotpink;
    -moz-transition: 1.4s;
    -o-transition: 1.4s;
    -webkit-transition: 1.4s;
    transition: 1.4s;
}

@media all and (min-width: 600px) {
    .aside {
        flex: 1 auto;
    }
}

@media all and (min-width: 800px) {
    .main {
        flex: 3 0px;
    }

    .aside-1 {
        order: 1;
    }

    .main {
        order: 2;
    }

    .aside-2 {
        order: 3;
    }

    .footer {
        order: 4;
    }
}

.bordered {
    border: 1px dotted lightgray;
}

.border--bottom{
    border-bottom: 1px ridge midnightblue;
}

ul.columns__2 {
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    column-count: 2;
    column-gap: 10px;
}

ul.columns__3 {
    -moz-column-count: 3;
    -moz-column-gap: 10px;
    -webkit-column-count: 3;
    -webkit-column-gap: 10px;
    column-count: 3;
    column-gap: 10px;
}

ul.columns__4 {
    -moz-column-count: 4;
    -moz-column-gap: 10px;
    -webkit-column-count: 4;
    -webkit-column-gap: 10px;
    column-count: 4;
    column-gap: 10px;
}