
.header {
    background: tomato;
}

.flex-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    font-weight: normal;
    text-align: center;
}

.flex-container > * {
    padding: 0.8em;
    flex: 1 100%;
}

.main {
    text-align: left;
    background: rgb(63, 195, 255);
}

.aside{

}

.aside-1 {
    text-align: left;
    background: rgb(255, 218, 0);
}

.aside-2 {
    text-align: left;
    background: rgb(255, 155, 0);
}

.under-1 {
    text-align: left;
    background: rgba(103, 158, 55, 1);
}

.under-2 {
    text-align: left;
    background: rgba(0, 171, 192, 1);
}

.footer {
    background: rgb(149, 214, 65);
}

@media all and (min-width: 600px) {
    .main{
        flex: 1 100%;
    }
    .aside {
        flex: 1 auto;
    }
    .under {
        flex: 1 auto;
    }
}

@media all and (min-width: 800px) {
    .main {
        flex: 1 auto;
    }

    .main {
        order: 1;
    }

    .aside-1 {
        order: 2;
    }

    .aside-2 {
        order: 3;
    }

    .under-1 {
        order: 4;
    }

    .under-2 {
        order: 5;
    }

    .footer {
        order: 6;
    }
}

.bordered {
    border: 1px solid rgb(50, 20, 54);
}

.border--bottom{
    border-bottom: 1px ridge rgba(0, 0, 0, 0.1);
}

li{
    margin-bottom: 4px;
}

ul.columns__2 {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}

ul.columns__3 {
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px;
}

ul.columns__4 {
    -moz-column-count: 4;
    -moz-column-gap: 10px;
    -webkit-column-count: 4;
    -webkit-column-gap: 10px;
    column-count: 4;
    column-gap: 10px;
}

.float--right{
    float: right;
}


/*
Animations
*/

.main.ng-hide-add.ng-hide-add-active,
.main.ng-hide-remove.ng-hide-remove-active,
.aside.ng-hide-add.ng-hide-add-active,
.aside.ng-hide-remove.ng-hide-remove-active,
.under.ng-hide-add.ng-hide-add-active,
.under.ng-hide-remove.ng-hide-remove-active{
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
}

.main.ng-hide,
.aside.ng-hide,
.under.ng-hide {
  line-height: 0;
  opacity: 0.5;
  padding: 0 2em;
}