.flex-container {
    margin-top: 0.4em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    font-weight: normal;
    text-align: center;
}

.flex-container > * {
    padding: 0.8em;
    margin-bottom: 0.4em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    -webkit-flex: 1 100%;
    flex: 1 100%;

    border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    border: 0px solid #000000;
}

.main {
    text-align: left;
    background: rgb(63, 195, 255);
}

.aside{

}

.aside-1 {
    text-align: left;
    background: rgb(255, 218, 0);
}

.aside-2 {
    text-align: left;
    background: rgb(255, 155, 0);
}

.under-1 {
    text-align: left;
    background: rgba(103, 158, 55, 1);
}

.under-2 {
    text-align: left;
    background: rgba(0, 171, 192, 1);
}

.under-3 {
    text-align: left;
    background: rgb(78, 192, 188);
}

@media all and (min-width: 600px) {
    .main{
        -webkit-flex: 1 100%;
        flex: 1 100%;
    }
    .aside {
        -webkit-flex: 1 auto;
        flex: 1 auto;
    }
    .under {
        -webkit-flex: 1 auto;
        flex: 1 auto;
    }
}

@media all and (min-width: 800px) {
    .main {
        -webkit-flex: 1 auto;
        flex: 1 auto;
    }

    .main {
        order: 1;
    }

    .aside-1 {
        order: 2;
    }

    .aside-2 {
        order: 3;
    }

    .under-1 {
        order: 4;
    }

    .under-2 {
        order: 5;
    }

    .under-3 {
        order: 6;
    }
}