body {
    padding: 0.0em;
    margin: 0;
}

html, html {
    -webkit-font-smoothing: antialiased;
    background-color: #d7ddca;
    font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
}

.hidden{
    display: none;
}