.activity__image{
    max-width: 500px;
    max-height: 750px;
    width: 100%;
    height: 100%;
}

.activity{
    background-color: #f3fbe4;
}

.activity__image--wrapper{
   -webkit-border-radius: 50em;
	-moz-border-radius: 50em;
	border-radius: 50em;
}